<div class="container-cards">
    <gifs-card></gifs-card>
    <gifs-card></gifs-card>
    <gifs-card></gifs-card>
    <gifs-card></gifs-card>
    <gifs-card></gifs-card>
    <gifs-card></gifs-card>
    <gifs-card></gifs-card>
    <gifs-card></gifs-card>
    <gifs-card></gifs-card>
    <gifs-card></gifs-card>
    <gifs-card></gifs-card>
    <gifs-card></gifs-card>
    <gifs-card></gifs-card>
    <gifs-card></gifs-card>
    <gifs-card></gifs-card>
    <gifs-card></gifs-card>
    <gifs-card></gifs-card>
    <gifs-card></gifs-card>
    <gifs-card></gifs-card>
    <gifs-card></gifs-card>
    <gifs-card></gifs-card>
    <gifs-card></gifs-card>
</div>
